* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(223, 221, 221);
}



h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 15px 15px 0px 0px;
    background-color: red;
    color: white;
}



